@using PackerTracker.Models

<h1>Planned Trips</h1>
<ul>

  @foreach (Catalog item in Model)
  {
    <li><a href='/trips/@item.GetId()'>@item.GetLocation()</a></li>
  }

</ul>
<a href="/trips/new">Add a new trip.</a>

<form action="/trips/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>